# Ignore local configuration files
*.iml
.idea/
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig

# Ignore version control directories
.git/
.gitignore

# Ignore OS-specific files
.DS_Store
Thumbs.db
